* {
    box-sizing: border-box
}

body,html {
    height: 100%
}

body {
    margin: 0;
    padding: 0;
    background: #946A59;
    font-family: "Bitter","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.4rem;
    text-rendering: auto;
    color: #FEFEFE;
}

.center {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

a {
    text-decoration: underline;
    color: #FEFEFE;
}

a:hover {
    text-decoration: none;
}

img {
    border-radius: 2em;
	border: 10px solid #666;
	background: #666;
}

@media (max-width: 815px) {
    body {
        padding-top:100px
    }
}
