* {
	box-sizing: border-box;
	overflow: hidden;
}

body,html {
    height: 100%
}

body {
	background: #946A59;
	font-family: "Bitter","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.4rem;
	text-rendering: auto;
	color: #FEFEFE;
	line-height: 1.5em;
}

.center {
	text-align: center;
}

.bottomright {
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
}

a {
	text-decoration: underline;
	color: #FEFEFE;
}

a:hover {
	text-decoration: none;
}

img {
	margin-top: 1em;
	height: auto;
	width: auto;
	max-width: 30%;
	
	border-radius: 2em;
	border: 10px solid #666;
	background: #666;
}


@media (max-width: 815px) {
    body {
		padding-top:100px
    }
    img{
	    	max-height: 15em;
    }
}
