* {
    box-sizing: border-box
}

body,html {
    height: 100%
}

body {
    margin: 0;
    padding: 0;
    background: #946A59;
    font-family: Bitter,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #FEFEFE;
}

.center {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
    color: #FEFEFE;
}

@media (max-width: 815px) {
    body {
        padding-top:100px
    }
}
